.floating-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #ff0eb4;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
}

.floating-btn svg {
  fill: white;
}

.floating-btn:hover {
  -webkit-box-shadow: 0px 0px 80px 25px rgba(238, 46, 255, 0.68);
  -moz-box-shadow: 0px 0px 80px 25px rgba(238, 46, 255, 0.68);
  box-shadow: 0px 0px 80px 25px rgba(238, 46, 255, 0.68);
  transform: scale(1.1);
}
